<% @page_title = "Product Feature List" %>


<article class="module width_3_quarter">
  <header>
    <h3 class="tabs_involved">Product Features for</h3>

    <ul class="tabs">

       <li> <%=	 link_to("Add new Product Feature Option", {:action => 'new', :product_feature_id => @product_feature.id}, :class => 'action new') %></li>

    </ul>

  </header>

  <table class="tablesorter" summary="product features list">
    <thead>
    <tr class="header">
      <th>&nbsp;</th>
      <th>Position</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <%	 @product_feature_options.each do |product_feature_option| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td><%=    product_feature_option.position %></td>
          <td><%=	 link_to(image_tag(product_feature_option.photo.url(:thumb)),{:action => 'show', :id => product_feature_option.id})  %></td>
          <td><%=	 product_feature_option.name %></td>
          <td class="actions">
            <%= link_to("Show", {:action => 'show', :id => product_feature_option.id}, :class => 'action show') %>
            <%= link_to("Edit", {:action => 'edit', :id => product_feature_option.id, :product_feature_option_id => product_feature_option.product_feature_id}, :class => 'action edit') %>
            <%= link_to("Delete", {:action => 'delete', :id => product_feature_option.id}, :class => 'action delete') %>

          </td>
        </tr>
    <%	 end %>
    </tbody>
  </table>


</article>