<%= error_messages_for( @product_feature )%>
    <table summary="Product Features form fields">
      <th>This is a feature of <%= @product.name %></th>
         <%= f.hidden_field(:product_id, :value => @product.id ) %>  <!-- sends the product.id to server -->
      <tr>
        <fieldset>
        <th><%= f.label(:name) %> </th>
        <td><%= f.text_field(:name) %></td>
        </fieldset>
      </tr>
      <tr>
        <th><%= f.label(:position) %></th>
        <td><%= f.select(:position, 1..@product_feature_count) %></td>
      </tr>
      <tr>
        <th><%= f.label(:active)%>?</th>
        <td><%= f.check_box(:active) %></td>
      </tr>
      <tr>
      	<th><%= f.label 'photo' %></th>
      	<td><%= f.file_field(:photo) %></td>
      </tr>

    </table>

